body, html{
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    margin: 0px auto;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    /* background-color: bisque; */
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}
nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

nav div:hover {
    color: aqua;
    text-shadow: #ddd;
}

nav ul{
    width: 40%;
    display: flex;
    list-style: none;
    justify-content: right;
}

nav ul li{
    width: 30%;
    justify-content:space-evenly;
}

ul li:hover{
    background-color: #ddd;
    color: black;
    
}
.container {
    padding-top: 50px auto;
    display: flex;
    justify-content: center;
    height: 300px;
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 24px;
}

section div img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0,0,.5);
    display: flex;
    margin: 0px auto;
}
section div p {
    display: flex;
    justify-content: center;
    color: whitesmoke;
}
section div.aboutsection{
    display: flex;

}

section div .aboutsection.row{
    display: flex;
    flex-direction: row;
}





